#gjs,body,html {
    height: 100%!important;
    margin: 0;
    overflow: hidden
}

.cursor-pointer {
    cursor: pointer
}

.gjs-editor {
    font-size: .9rem
}

.toast {
    opacity: 1!important;
    border: none;
    right: 15px;
    -webkit-box-shadow: none;
    box-shadow: none
}

#phpb-loading {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0f172a;
    z-index: 10000
}

#phpb-loading .spinner-border {
    width: 65px;
    height: 65px;
    animation: .45s linear infinite spinner-border;
    border: .28em solid #0284c7;
    border-right-color: transparent
}

#phpb-loading.loaded {
    visibility: hidden;
    opacity: 0;
    z-index: -1
}

#phpb-loading .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    text-align: center
}

#phpb-loading .circle .text {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    color: #94a3b8;
    font-weight: 700
}

.gjs-cv-canvas {
    height: calc(100% - 60px);
    top: 60px;
    width: calc(100% - 320px)
}

.cke_dialog_body .cke_dialog_ui_vbox_child,.gjs-devices-c,.gjs-pn-panel {
    padding: 0
}

.gjs-pn-panel .gjs-pn-buttons {
    justify-content: space-evenly;
    height: 60px;
    padding: 0 25px;
    border-bottom: 1px solid #1e293b
}

#sidebar-bottom-buttons button.waiting i.fa,.gjs-am-assets-header,.gjs-clm-tags #gjs-clm-sel-help,.gjs-clm-tags #gjs-clm-status-c,.gjs-pn-commands,.gjs-pn-devices-c,.gjs-pn-options,.sidebar-collapsed .gjs-pn-panels .gjs-pn-panel {
    display: none
}

.gjs-one-bg {
    background-color: #0f172a;
    border-bottom: none
}

.gjs-sm-sectors .gjs-sm-stack #gjs-sm-add:hover,.gjs-two-color {
    color: #e2e8f0
}

.gjs-clm-tags #gjs-clm-checkbox,.gjs-clm-tags #gjs-clm-close,.gjs-four-color,.gjs-four-color-h:hover {
    color: #fff
}

.gjs-pn-commands {
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px
}

::-webkit-scrollbar-track {
    background: #0f172a!important
}

::-webkit-scrollbar-thumb {
    background-color: #0f172a!important;
    border-radius: 3px
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0f172a!important
}

.gjs-pn-views .gjs-pn-btn {
    border-radius: 4px!important;
    color: #64748b;
    font-size: 20px;
    padding: 7px 12px;
    transition: .1s ease-in
}

.gjs-pn-views .gjs-pn-btn.gjs-pn-active {
    background-color: #7dd3fc3d;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #0284c7
}

.gjs-pn-options {
    right: 0
}

.gjs-pn-views,.gjs-pn-views-container {
    left: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 320px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0
}

.gjs-pn-views-container {
    height: 100%;
    overflow: hidden;
    padding: 60px 0 0;
    border-right: 1px solid #1e293b
}

.gjs-pn-views-container>div {
    height: 100%;
    overflow-y: auto;
    padding-top: 10px
}

.gjs-block-category,.gjs-pn-views-container>div>div {
    background: #0f172a
}

.gjs-cv-canvas,.gjs-pn-devices-c {
    left: 320px
}

.gjs-pn-panel #gjs-sm-caret {
    padding-right: 0!important
}

.gjs-pn-panel .fa-caret-down {
    margin-right: 5px!important;
    display: none
}

.gjs-pn-panel .fa-caret-right {
    margin-right: 8px!important;
    display: none
}

.gjs-three-bg {
    background-color: #0284c7;
    color: #f8fafc
}

.gjs-field {
    border-radius: 0;
    padding: 2px
}

.gjs-field input,.gjs-field select,.gjs-field textarea {
    padding: 6px 12px
}

.gjs-field .gjs-d-s-arrow {
    border-top: 4px solid #646464
}

#toggle-sidebar {
    font-size: 20px!important;
    padding: 2px 12px!important
}

#block-search {
    position: fixed;
    width: 320px;
    bottom: 0;
    height: 45px;
    left: 0;
    border-right: 1px solid #1e293b;
    z-index: 999
}

#block-search i.fa-search {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 14px;
    color: #aaa
}

#block-search input {
    border-radius: 0;
    border-right: none;
    padding-left: 38px;
    border: none!important;
    height: 100%;
    background: #020617
}

#block-search input::-webkit-input-placeholder {
    color: #aaa
}

#block-search input::-moz-placeholder {
    color: #aaa
}

#block-search input::-ms-input-placeholder {
    color: #aaa
}

#block-search input::placeholder {
    color: #aaa
}

.gjs-block {
    border: 1px solid #334155b5;
    box-shadow: none;
    transition: .05s ease-in-out;
    background: #6c757d08;
    padding: 0 0 8px;
    height: max-content;
    min-height: auto
}

.gjs-block:hover {
    color: #0284c7!important;
    background: #7dd3fc26;
    border-color: #7dd3fc26;
    cursor: pointer;
    box-shadow: none
}

.gjs-block .block-thumb {
    height: auto;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    z-index: 1
}

.gjs-block .block-thumb img {
    width: 100%;
    position: relative;
    z-index: -1;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px
}

.gjs-blocks-c {
    background: #0f172a;
    margin-bottom: 15px;
    padding: 0 5px 0 10px
}

.gjs-block-categories {
    padding-bottom: 30px
}

.gjs-block-label {
    font-size: .8rem
}

.gjs-block-category.gjs-open,.gjs-blocks-cs {
    border-bottom: none!important
}

.gjs-layer .gjs-layer-title {
    background: #fff!important
}

.gjs-layer.gjs-selected .gjs-layer-title {
    background-color: #017bff!important
}

.gjs-layer.gjs-hovered .gjs-layer-title {
    background-color: #017bff70!important
}

.gjs-block-category .gjs-title,.gjs-category-title,.gjs-clm-tags .gjs-sm-title,.gjs-layer-title,.gjs-sm-sector .gjs-sm-title {
    background: #0f172a!important;
    text-transform: uppercase;
    border: none;
    letter-spacing: .35px
}

.gjs-btn-prim,.gjs-sm-header,.gjs-trt-header {
    font-weight: 400
}

.gjs-sm-sector.gjs-sm-open,.gjs-traits-label {
    border-bottom: none!important
}

.gjs-layer-name {
    padding-top: 2px;
    padding-bottom: 13px
}

.gjs-layer-vis,.gjs-trt-traits p.no-settings {
    padding-top: 10px
}

.gjs-layer-vis {
    left: 6px
}

.gjs-trt-trait {
    display: block;
    margin-bottom: 7px;
    padding: 5px 20px
}

.gjs-am-add-asset .gjs-am-add-field,.gjs-trt-trait .gjs-field,.gjs-trt-trait .gjs-label {
    width: 100%
}

.gjs-field-checkbox {
    height: 17px!important;
    width: 17px!important
}

.gjs-traits-label {
    font-weight: 400;
    font-size: 16px;
    padding: 8px 20px
}

.gjs-clm-tags #gjs-sm-caret,.gjs-sm-sector #gjs-sm-caret {
    font-size: medium
}

.gjs-trt-traits .gjs-label-wrp {
    width: 100%;
    margin-bottom: 5px
}

.gjs-trt-trait .gjs-field-image {
    background: #fff;
    padding: 0
}

.gjs-trt-trait .gjs-field-image img {
    max-width: 100%;
    max-height: 200px
}

#sidebar-bottom-buttons {
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid #1e293b;
    align-items: center;
    padding: 0 40px 0 320px;
    margin: 0
}

#sidebar-bottom-buttons a,#sidebar-bottom-buttons button {
    font-size: 13px;
    display: inline-block;
    padding: 6px 14px;
    border-radius: 4px;
    color: #64748b
}

#device-swtich button.active,#sidebar-bottom-buttons a:hover,#sidebar-bottom-buttons button#save-page,#sidebar-bottom-buttons button:hover {
    background: #7dd3fc3d;
    color: #0284c7
}

#sidebar-bottom-buttons a:last-child,#sidebar-bottom-buttons button:last-child {
    border-left: none
}

#sidebar-bottom-buttons button.waiting {
    background: #017bff
}

#sidebar-bottom-buttons a#go-back:hover {
    background: #dc3545
}

.gjs-field {
    background-color: #e0f2fe;
    color: #0f172a
}

.gjs-field select option {
    background-color: #fff;
    color: #000
}

.gjs-sm-field select.gjs-input-unit {
    color: #0087b3
}

.gjs-sm-field select.gjs-input-unit option {
    background-color: #017bff;
    color: #fff
}

.gjs-field-arrow-d {
    border-top: 4px solid #0087b3
}

.gjs-field-arrow-u {
    border-bottom: 4px solid #0087b3
}

.gjs-radio-item .gjs-radio-item-label {
    padding-top: 10px;
    margin-bottom: 0;
    padding-bottom: 10px;
    width: 100%
}

.gjs-clm-tags {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0
}

.gjs-clm-tags #gjs-clm-new,.gjs-sm-sectors .gjs-sm-properties .gjs-sm-field input {
    color: #000
}

.gjs-clm-tags #gjs-clm-add-tag {
    background-color: #0284c7;
    border: none;
    -webkit-box-shadow: 1px 1px 0 hsla(0,0%,100%,.2) inset;
    box-shadow: inset 1px 1px 0 hsla(0,0%,100%,.2);
    color: #fff
}

.gjs-clm-tags #gjs-clm-add-tag:hover {
    background-color: #0087b3
}

.gjs-sm-sectors .gjs-color-warn,.gjs-sm-sectors .gjs-four-color {
    color: #e2e8f0;
    margin: 12px 5px 6px 0
}

.gjs-sm-sectors .gjs-sm-field.gjs-sm-composite {
    background-color: rgba(195,226,236,.14);
    border: 1px solid rgba(121,147,155,.14)
}

.gjs-sm-sectors .gjs-sm-layers .gjs-sm-btn {
    background: #fff;
    color: #000;
    text-shadow: none
}

.gjs-sm-sectors .gjs-sm-layers .gjs-field select {
    color: #000;
    background: #0087b33d
}

.gjs-sm-sectors .gjs-sm-stack #gjs-sm-add {
    color: #cbd5e1
}

.gjs-am-assets-cont {
    background: 0 0;
    padding-top: 0;
    width: 40%
}

.gjs-am-assets {
    height: 325px
}

.gjs-mdl-header {
    border-color: #334155;
    padding: 15px 20px 10px;
    margin-bottom: 5px
}

.gjs-am-file-uploader {
    width: 60%
}

.gjs-am-asset:hover {
    background: #1e293b
}

.gjs-am-asset:hover .gjs-am-preview {
    background-color: #1e293b
}

.gjs-am-preview-cont {
    height: 60px
}

.gjs-am-preview {
    background-size: contain;
    background-color: #0f172a
}

.gjs-am-asset {
    -webkit-touch-callout: none;
    border-color: #334155;
    padding: 10px
}

.gjs-am-asset,.gjs-btn-prim {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.gjs-btn-prim {
    display: inline-block;
    margin-top: 10px;
    padding: .375rem .75rem;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    color: #fff;
    border: 1px solid #007bff;
    background-color: #007bff
}

.gjs-am-add-asset button {
    float: left;
    width: auto
}

.gjs-am-file-uploader>form {
    background-color: rgba(195,226,236,.14);
    border: 2px dashed #bdc2c8
}

.gjs-am-file-uploader #gjs-am-title {
    color: #7e8793;
    text-shadow: none
}

.cke_dialog_body div.cke_dialog_ui_input_select,.cke_dialog_body input.cke_dialog_ui_input_password,.cke_dialog_body input.cke_dialog_ui_input_tel,.cke_dialog_body input.cke_dialog_ui_input_text,.cke_dialog_body textarea.cke_dialog_ui_input_textarea {
    margin-bottom: 10px
}

.cke_dialog_body .cke_dialog_ui_input_select {
    width: 100%!important
}

.sidebar-collapsed .gjs-cv-canvas {
    width: calc(100% - 0px)
}

.sidebar-collapsed .gjs-cv-canvas,.sidebar-collapsed .gjs-pn-devices-c {
    left: 0
}

.sidebar-collapsed #toggle-sidebar {
    padding: 14px 18px;
    font-size: 18px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    border-bottom-right-radius: 4px;
    background: #7dd3fc3d;
    color: #0284c7
}

.gjs-pn-views .gjs-pn-btn:not(:last-child) {
    margin-right: 12px
}

#block-search input:focus {
    outline: 0;
    box-shadow: none;
    border: none
}

.gjs-sm-properties {
    padding: 0 10px 15px 15px
}

.gjs-sm-properties .gjs-sm-properties {
    padding: 0 5px 5px
}

#sidebar-bottom-buttons a {
    margin-right: 15px;
    background: #fed7aa;
    color: #ea580c
}

#sidebar-bottom-buttons a:hover {
    background: #fdba74;
    color: #c2410c
}

.gjs-layer-caret {
    width: 15px;
    padding: 5px;
    top: 2px;
    left: -15px
}

.gjs-layer-count {
    right: 20px;
    top: 6px
}

.sidebar-collapsed #sidebar-bottom-buttons {
    padding-left: 40px
}

.gjs-block.fa {
    font-size: 1em;
    padding: 10px 8px;
    flex-direction: row;
    align-items: center;
    min-height: 20px;
    justify-content: flex-start;
    line-height: 1.25em;
    margin-right: 6px
}

#device-swtich button {
    background: 0 0;
    font-size: 1.4em;
    padding: 2px 10px
}

#sidebar-bottom-buttons button#editor-redo,#sidebar-bottom-buttons button#editor-undo {
    background: no-repeat;
    font-size: 18px;
    padding: 5px 10px
}

.gjs-rte-toolbar.gjs-one-bg {
    border: none
}

.gjs-rte-action {
    width: 34px;
    height: 34px;
    border-right: none;
    border-radius: 2px;
    font-size: 16px
}

.gjs-rte-action:hover {
    background: rgb(0 0 0 / 6%)
}

.gjs-rte-actionbar {
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 .525rem .5rem rgb(0 0 0 / 8%);
    border-radius: 2px
}

.gjs-block.fa .gjs-block-label {
    margin-left: 5px
}

#sidebar-bottom-buttons button#save-page {
    background: #0ea5e9;
    color: #e0f2fe
}

#sidebar-bottom-buttons button#save-page:hover {
    background: #0284c7;
    color: #bae6fd
}

.gjs-block-category .gjs-title i.fa[data-category] {
    margin-right: 5px
}
