body.dragging,
body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.phpcm_menu li.placeholder {
    position: relative;
    background: rgb(59 130 246 / 10%);
}

ol.phpcm_menu li.placeholder:before {
    position: absolute
}

ol.phpcm_menu li {
    background: #f8fafc;
    padding: 8px 16px;
    border: 1px solid #cbd5e1;
    border-radius: 2px;
    margin: 12px 0;
}

span[phpcm_del_menu] {
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
    float: right;
    margin-top: -5px;
}

span[phpcm_del_menu]:hover {
    color: #dc2626;
}