.bcs-1{
    display: flex;flex-wrap: wrap;justify-content: flex-end;
}

.bcs-2{
    position: relative;flex: 0 0 45%;transform: translate3d(-15%, 35%, 0);
}
.bcs-3{
    position: relative;flex: 0 0 45%;transform: translate3d(-5%, 20%, 0);
}

.bcs-4{
    position: relative;flex: 0 0 60%;transform: translate3d(0, 0%, 0);
}
.bcs-5{
    font-size: 1.6rem;
}
.bcs-6{max-width: 900px;}
.bcs-7{
    top: 1rem;right: 1rem;position: absolute;
}
.bcs-8{height: 250px;}