.tw_media_select{
  border-radius:0.25rem;
  border-width:1px;
  --tw-border-opacity:1;
  border-color:rgb(203 213 225 / var(--tw-border-opacity));
  --tw-bg-opacity:1;
  background-color:rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow:0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored:0 1px 2px 0 var(--tw-shadow-color);
  box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tw_media_select:hover{
  --tw-border-opacity:1;
  border-color:rgb(14 165 233 / var(--tw-border-opacity));
  --tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow:var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  --tw-ring-opacity:1;
  --tw-ring-color:rgb(14 165 233 / var(--tw-ring-opacity));
}

.tw_media_select .tw_media_select-choose label{
  display:flex;
  cursor:pointer;
  -webkit-user-select:none;
     -moz-user-select:none;
          user-select:none;
  padding:0.75rem;
  font-size:0.875rem;
  line-height:1.25rem;
  --tw-text-opacity:1;
  color:rgb(75 85 99 / var(--tw-text-opacity));
}

.tw_media_select .tw_media_select-choose label .label-icon{
  --tw-text-opacity:1;
  color:rgb(100 116 139 / var(--tw-text-opacity));
}

.tw_media_select .tw_media_select-choose label .label-description{
  margin-left:0.5rem;
}

.tw_media_select .tw_media_select-attachments{
  display:flex;
  flex-wrap:wrap;
  padding-left:1rem;
  padding-right:1rem;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
}

.tw_media_select .tw_media_select-attachments div{
  margin:5px;
  width:80px;
  --tw-text-opacity:1;
  color:rgb(71 85 105 / var(--tw-text-opacity));
}

.tw_media_select .tw_media_select-attachments div svg,
.tw_media_select .tw_media_select-attachments div img{
  height:90px;
  width:100%;
  border-radius:0.25rem;
  -o-object-fit:cover;
     object-fit:cover;
  --tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  --tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow:var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  --tw-ring-opacity:1;
  --tw-ring-color:rgb(14 165 233 / var(--tw-ring-opacity));
  --tw-ring-offset-width:1px;
}

.tw_media_select-modal{
  position:fixed;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  z-index:50;
  display:flex;
  height:100%;
  width:100%;
  align-items:center;
  justify-content:center;
  background-color:rgb(0 0 0 / 0.75);
}

.tw_media_select_modal-body{
  margin:auto;
  height:-webkit-max-content;
  height:-moz-max-content;
  height:max-content;
  max-height: 90vh;
  border-radius:0.25rem;
  --tw-bg-opacity:1;
  background-color:rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow:0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored:0 1px 3px 0 var(
  --tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow-color:#0f172a;
  --tw-shadow:var(
  --tw-shadow-colored);
  width: calc(85vw);
  max-width: 1050px;
  overflow-y: scroll;
}

.tw_media_select_modal-body .tw_media_select_modal_body-header{
  display:flex;
  align-items:center;
  justify-content:space-between;
  border-top-left-radius:0.25rem;
  border-top-right-radius:0.25rem;
  border-bottom-width:1px;
  --tw-bg-opacity:1;
  background-color:rgb(249 250 251 / var(--tw-bg-opacity));
  padding-left:1.5rem;
  padding-right:1.5rem;
  padding-top:0.75rem;
  padding-bottom:0.75rem;
  --tw-text-opacity:1;
  color:rgb(31 41 55 / var(--tw-text-opacity));
}

.tw_media_select_modal-body .tw_media_select_modal_body-header h1{
  font-size:1.5rem;
  line-height:2rem;
  font-weight:700;
}

.tw_media_select_modal-body .tw_media_select_modal_body-header [tw_media_select_modal_close]{
  cursor:pointer;
  padding:0.5rem;
  padding-right:0px;
  --tw-text-opacity:1;
  color:rgb(75 85 99 / var(--tw-text-opacity));
}

.tw_media_select_modal-body .tw_media_select_modal_body-header [tw_media_select_modal_close]:hover{
  --tw-text-opacity:1;
  color:rgb(220 38 38 / var(--tw-text-opacity));
}

.tw_media_select_modal-body .tw_media_select_modal_body-row{
  display:flex;
  flex-wrap:wrap;
  min-height: calc(75vh);
}

.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_modal_body-left{
  width:66.666667%;
}

.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_modal_body-right{
  width:33.333333%;
  border-bottom-right-radius:0.25rem;
  border-left-width:1px;
  --tw-bg-opacity:1;
  background-color:rgb(249 250 251 / var(--tw-bg-opacity));
  padding-left:0.75rem;
  padding-right:0.75rem;
  padding-top:1rem;
  padding-bottom:1rem;
}

.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_modal_body-right .tw_media_select_modal_body_right-no-attachment{
  margin-top:0.5rem;
  margin-bottom:0.5rem;
  text-align:center;
  --tw-text-opacity:1;
  color:rgb(148 163 184 / var(--tw-text-opacity));
}

.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_modal_body_right-no-attachment svg,
.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_modal_body_left-upload label svg{
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0.5rem;
}

.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_modal_body_left-upload label{
  margin-left:2rem;
  margin-right:2rem;
  margin-top:1.5rem;
  margin-bottom:1.5rem;
  display:block;
  cursor:pointer;
  border-radius:0.25rem;
  border-width:1px;
  border-style:dashed;
  --tw-border-opacity:1;
  border-color:rgb(203 213 225 / var(--tw-border-opacity));
  padding:1rem;
  text-align:center;
  font-weight:600;
  --tw-text-opacity:1;
  color:rgb(100 116 139 / var(--tw-text-opacity));
}

.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_modal_body_left-upload label:hover{
  --tw-bg-opacity:1;
  background-color:rgb(249 250 251 / var(--tw-bg-opacity));
  --tw-text-opacity:1;
  color:rgb(71 85 105 / var(--tw-text-opacity));
}

.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_modal_body_left-attachments{
  margin-bottom:1.25rem;
  background: white;
  overflow-y: scroll;
}

.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_folder-title{
  margin-left:1.5rem;
  margin-right:1.5rem;
  margin-top:1rem;
  margin-bottom:0.5rem;
  display:flex;
  align-items:center;
  justify-content:space-between;
  --tw-text-opacity:1;
  color:rgb(30 41 59 / var(--tw-text-opacity));
}

.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_folder-title a{
  font-size:0.875rem;
  line-height:1.25rem;
}

.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_folder-title a:hover{
  text-decoration-line:underline;
}

.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_modal_body-flat-folder-items{
  margin-left:1.5rem;
  margin-right:1.5rem;
  margin-top:0.5rem;
  display:flex;
  flex-wrap:wrap;
}

.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_modal_body-flat-folder-item{
  width:16.666667%;
  cursor:pointer;
  text-align:center;
  --tw-text-opacity:1;
  color:rgb(71 85 105 / var(--tw-text-opacity));
  min-width: 100px;
}

.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_modal_body-flat-folder-item div:hover,
.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_modal_body-flat-folder-item.active div{
  --tw-border-opacity:1;
  border-color:rgb(56 189 248 / var(--tw-border-opacity));
  background-color:rgb(224 242 254 / 0.75);
  --tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  --tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow:var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  --tw-ring-opacity:1;
  --tw-ring-color:rgb(14 165 233 / var(--tw-ring-opacity));
  --tw-ring-offset-width:1px;
}

.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_modal_body-flat-folder-item div{
  margin-top:0.75rem;
  margin-bottom:0.75rem;
  margin-right:0.75rem;
  -webkit-user-select:none;
     -moz-user-select:none;
          user-select:none;
  border-radius:0.25rem;
  border-width:1px;
  --tw-border-opacity:1;
  border-color:rgb(203 213 225 / var(--tw-border-opacity));
  padding:0.25rem;
  --tw-shadow:0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored:0 1px 2px 0 var(--tw-shadow-color);
  box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_modal_body-flat-folder-item svg,
.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_modal_body-flat-folder-item img{
  height:85px;
  margin: auto;
}

.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_modal_body-selected{
  display:flex;
  width:100%;
  align-items:center;
  justify-content:space-between;
  border-bottom-left-radius:0.25rem;
  border-bottom-right-radius:0.25rem;
  border-top-width:1px;
  --tw-bg-opacity:1;
  background-color:rgb(249 250 251 / var(--tw-bg-opacity));
  padding-left:1.5rem;
  padding-right:1.5rem;
  padding-top:1.5rem;
}

.tw_media_select_modal-body .tw_media_select_modal_body-row [tw_media_select_clear_selected]{
  --tw-text-opacity:1;
  color:rgb(239 68 68 / var(--tw-text-opacity));
}

.tw_media_select_modal-body .tw_media_select_modal_body-row [tw_media_select_clear_selected]:hover{
  --tw-text-opacity:1;
  color:rgb(220 38 38 / var(--tw-text-opacity));
}

.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_modal_body-selected-attachments{
  display:flex;
  width:100%;
  flex-wrap:wrap;
}

.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_modal_body-selected-attachments div{
  margin-right:1rem;
  margin-bottom:1rem;
  height:-webkit-max-content;
  height:-moz-max-content;
  height:max-content;
  --tw-bg-opacity:1;
  background-color:rgb(243 244 246 / var(--tw-bg-opacity));
  text-align:center;
  --tw-text-opacity:1;
  color:rgb(71 85 105 / var(--tw-text-opacity));
  width: 60px;
}

.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_modal_body-selected-attachments div img,
.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_modal_body-selected-attachments div svg{
  margin-left:auto;
  margin-right:auto;
  height:60px;
  width:100%;
  border-radius:0.25rem;
  -o-object-fit:cover;
     object-fit:cover;
  --tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  --tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow:var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  --tw-ring-opacity:1;
  --tw-ring-color:rgb(14 165 233 / var(--tw-ring-opacity));
  --tw-ring-offset-width:1px;
}

.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_modal_body_right-attachment-info{
  padding-left:0.5rem;
  padding-right:0.5rem;
  padding-top:0.25rem;
  padding-bottom:0.25rem;
  font-size:0.875rem;
  line-height:1.25rem;
  --tw-text-opacity:1;
  color:rgb(51 65 85 / var(--tw-text-opacity));
}

.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_modal_body_right-attachment-info p{
  margin-bottom:0.25rem;
  --tw-text-opacity:1;
  color:rgb(30 41 59 / var(--tw-text-opacity));
}

.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_modal_body_right-attachment-info img,
.tw_media_select_modal-body .tw_media_select_modal_body-row .tw_media_select_modal_body_right-attachment-info svg{
  margin-bottom:1.25rem;
  border-radius:0.25rem;
}

.tw_media_select_modal-body .tw_media_select_modal_body-folder-breadcrumb{
  -webkit-user-select:none;
     -moz-user-select:none;
          user-select:none;
  padding-left:1.5rem;
  padding-right:1.5rem;
  padding-bottom:0.25rem;
  --tw-text-opacity:1;
  color:rgb(2 132 199 / var(--tw-text-opacity));
}

.tw_media_select_modal-body .tw_media_select_modal_body-folder-breadcrumb span{
  display:inline-block;
  cursor:pointer;
  padding:0.25rem;
}

.tw_media_select_modal-body .tw_media_select_modal_body-folder-breadcrumb span::after{
  margin-left:0.25rem;
  --tw-text-opacity:1;
  color:rgb(148 163 184 / var(--tw-text-opacity));
  --tw-content:'/';
  content:var(--tw-content);
}

.tw_media_select_modal-body .tw_media_select_modal_body-folder-breadcrumb span:last-of-type::after{
  --tw-content:'';
  content:var(--tw-content);
}

.tw_media_select_modal-body .tw_media_select_modal_body-folder-breadcrumb span:hover{
  --tw-text-opacity:1;
  color:rgb(3 105 161 / var(--tw-text-opacity));
}

.tw_media_select_modal-body .tw_media_select_modal_body-folder-breadcrumb span.tw_media_select_current_folder_id{
  cursor:auto;
  font-style:italic;
  --tw-text-opacity:1;
  color:rgb(71 85 105 / var(--tw-text-opacity));
}

.tw_media_select_modal-body [tw_media_select_media_delete_explore]{
  margin-right:0.5rem;
  display:inline-block;
  --tw-text-opacity:1;
  color:rgb(220 38 38 / var(--tw-text-opacity));
  opacity:0.5;
}

.tw_media_select_modal-body [tw_media_select_media_delete_explore]::after{
  margin-left:0.5rem;
  --tw-text-opacity:1;
  color:rgb(148 163 184 / var(--tw-text-opacity));
  --tw-content:'/';
  content:var(--tw-content);
}

.tw_media_select_modal-body [tw_media_select_media_delete_explore]:hover{
  opacity:1;
}

.tw_media_select_modal-body [tw_media_select_uploading_progress]{
  margin-left:1.5rem;
  margin-right:1.5rem;
  margin-top:1rem;
  margin-bottom:1rem;
  display:block;
  border-radius:0.25rem;
  --tw-bg-opacity:1;
  background-color:rgb(241 245 249 / var(--tw-bg-opacity));
  padding:0.75rem;
  text-align:center;
  --tw-text-opacity:1;
  color:rgb(51 65 85 / var(--tw-text-opacity));
  --tw-shadow:0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored:0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tw_media_select_modal-body [tw_media_select_uploading_progress] span{
  font-size:1.5rem;
  line-height:2rem;
  font-weight:600;
}

.tw_media_select_modal-body [tw_media_select_uploading_progress] p{
  margin-top:0.5rem;
  font-size:1.125rem;
  line-height:1.75rem;
}


#INIT_CORE_FILEMANAGER .tw_media_select_modal-body{
  padding-top:0.75rem;
  padding-bottom:0.75rem;
  --tw-shadow:0 0 #0000;
  --tw-shadow-colored:0 0 #0000;
  box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  width: 100% !important;
  margin:0 !important;
  max-width:inherit !important;
  border-radius:0 !important;
}

#INIT_CORE_FILEMANAGER .tw_media_select_modal-body.loader-parent .loading{
  border-radius: 0!important;
}

#INIT_CORE_FILEMANAGER .tw_media_select_modal_body-header [tw_media_select_modal_close]{
  display: none !important;
}

#INIT_CORE_FILEMANAGER .tw_media_select_modal_body-header > div{
  display:flex;
  width:100%;
  align-items:center;
  justify-content:space-between;
  padding-bottom:0.5rem;
}

#INIT_CORE_FILEMANAGER .tw_media_select_modal_body-header div div.mt-2{
  margin-top: 0 !important;
}

#INIT_CORE_FILEMANAGER .tw_media_select_modal_body_left-attachments{
  overflow-y:hidden;
  height:-webkit-max-content !important;
  height:-moz-max-content !important;
  height:max-content !important;
}

#INIT_CORE_FILEMANAGER .tw_media_select_modal_body-header,
#INIT_CORE_FILEMANAGER .tw_media_select_modal_body-right{
  background: #fff !important;
}
#INIT_CORE_FILEMANAGER .tw_media_select_modal-body .tw_media_select_modal_body-row{
    min-height: auto !important;
}

.tw_media_select_modal_body-selected-attachments small, .tw_media_select_modal_body-flat-folder-item div small {
  word-wrap: break-word;
}